{% extends "base.html" %}

{% block heading %}
	Add {{ model }}
{% endblock heading %}

{% block content %}
	{% if error_message %}
		<strong>{{ error_message }}</strong>
	{% endif %}
	<form action="." method="POST">
	<table>
	{{ form }}
	{% csrf_token %}
	<input type="hidden" name="id_staffer" value="{{ user.id }}">
	<tr><td/><td><input type="submit" value="Create"></td></tr>
	</table>
	<br>
	<small>Note: This is a site-wide template. If this page is not descriptive enough please contact the admin.</small>
{% endblock content %}