{% extends "base.html" %}

{% block heading %}
	Information &amp; Copyright
{% endblock heading %}

{% block content %}
	This page provides information on the copyrights of works contained on this site.
	<h3>Librewary</h3>
	Librewary is a closed-source application written by <a href="http://www.pztrick.com">Patrick Paul</a>.
	If you are interested in deploying your own Librewary application, Patrick can be reached <a href="http://www.pztrick.com/contact">here</a>.
	<br><br>
	Network access to and usage of the application is available free of charge.
	
	<h3>Graphics</h3>
	Various graphics available in the public domain are used on this site, and their authors are attributed here:

	<br><br>

	<ul>
		<li><a href="http://www.subtlepatterns.com/debut-dark/" target="_blank">Debut dark</a> texture by 
			<a href="http://www.lukemcdonald.com" target="_blank">Luke McDonald</a>
			(<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC BY-SA 3.0</a>)
			<a href="http://www.subtlepatterns.com/about" target="_blank"> #</a>
	</ul>

	<h3>Powered by Django <a href="http://www.djangoproject.com" target="_blank">#</a></h3>

	Librewary is developed using the Python <a href="http://www.djangoproject.com" target="_blank">Django</a> framework, and benefits from these other Django apps and libraries:

	<br><br>

	<ul>
		<li><a href="https://github.com/omab/django-social-auth" target="_blank">django-social-auth</a>
		<li><a href="http://south.aeracode.org/" target="_blank">south</a>
	</ul>
{% endblock content %}