{% extends "base.html" %}

{% block heading %}
	Twin Pints Cooperative <a href="http://www.twinpints.com" target="_blank">#</a>
{% endblock heading %}

{% block content %}
	
	<a href="http://www.twinpints.com" target="_blank">Twin Pints Cooperative</a> is an East Lansing, Mich., startup in the project development phase. We intend to open a microbrewery brewpub and <i>"brewer incubator"</i> which would give local artisan brewers their first opportunity to market their beer in a tap room setting after joining the co-op as partners.

	<br><br>

	Our homebrewing library is <i>phase one</i> of our business model.

	{% comment %}
	<h3><a href="{% url "faqs" %}#csb">CSB</a> Membership ($30 joining fee)</h3>

	There is a $30 membership fee to join Twin Pints Cooperative. <i>Early bird</i> members will enjoy immediate access to any branch brewing equipment, and these perks for the first year following our brewpub launch:

	<br><br>

	<ul>
		<li>Access to the homebrewing tool library (<a href="{% url "faqs" %}#tiers">lower tier</a>)
		<li>25% discount on tap room brews
		<li>Growler Club add-on for $100 (a 64 oz growler each month of club-exclusive brews)
		<li>Patronage dividend each profitable year, estimated at $5
	</ul>

	<h3>Artisan Brewers ($100 deposit)</h3>

	An additional deposit of $100 (payable in cash or in-kind equipment) allows co-op members to access <a href="{% url "faqs" %}#tiers">upper tier</a> brewing equipment from the library branch. After launch, a $500 deposit will get you and your next recipe into the brewhouse and pub.
	
	{% endcomment %}


{% endblock content %}